/*==========================================================

 Web site: its so pretty
 CSS page: styles

==========================================================*/ 

/*==========================================================
 Body
==========================================================*/ 
body
{
  background-color: pink;
  font-family: times new roman;
}

/*==========================================================
 Headings
==========================================================*/ 
h1
{
  color: black;
  text-align: center;
}

/*==========================================================
 Paragraph
==========================================================*/ 
p
{
  font-size: 20px;
}
